@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 205, 80%, 8%;
    --card-foreground: 206, 100%, 97%;

    --card-gradient-start: 220, 100%, 50%;
    --card-gradient-stop: 258, 74%, 50%;
    --card-gradient-foreground: 204, 11%, 91%;
    --card-gradient-border: 206, 79%, 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --primary-blue-50: #edf7ffff;
    --primary-blue-100: #d6ecffff;
    --primary-blue-200: #b5dfffff;
    --primary-blue-300: #83cdffff;
    --primary-blue-400: #48b0ffff;
    --primary-blue-500: #1e8affff;
    --primary-blue-600: #0669ffff;
    --primary-blue-700: #0155ffff;
    --primary-blue-800: #0841c5ff;
    --primary-blue-900: #0d3c9bff;
    --primary-blue-950: #0e255dff;
    --green-50: #f2fbf4ff;
    --green-100: #e0f8e6ff;
    --green-200: #c3efceff;
    --green-300: #94e1a9ff;
    --green-400: #5dcb7cff;
    --green-500: #36ab57ff;
    --green-600: #299046ff;
    --green-700: #23723aff;
    --green-800: #205b31ff;
    --green-900: #1c4b2bff;
    --green-950: #0a2914ff;
    --yellow-orange-50: #fff8ebff;
    --yellow-orange-100: #ffeac6ff;
    --yellow-orange-200: #ffd388ff;
    --yellow-orange-300: #ffb342ff;
    --yellow-orange-400: #ff9c20ff;
    --yellow-orange-500: #f97607ff;
    --yellow-orange-600: #dd5202ff;
    --yellow-orange-700: #b73506ff;
    --yellow-orange-800: #94280cff;
    --yellow-orange-900: #7a230dff;
    --yellow-orange-950: #460f02ff;
    --red-50: #fff1f1ff;
    --red-100: #ffdfdfff;
    --red-200: #ffc5c5ff;
    --red-300: #ff9d9dff;
    --red-400: #ff6464ff;
    --red-500: #ff3838ff;
    --red-600: #ed1515ff;
    --red-700: #c80d0dff;
    --red-800: #a50f0fff;
    --red-900: #881414ff;
    --red-950: #4b0404ff;
    --cyan-blue-50: #eff8ffff;
    --cyan-blue-100: #dfefffff;
    --cyan-blue-200: #b7e0ffff;
    --cyan-blue-300: #77c9ffff;
    --cyan-blue-400: #2fadffff;
    --cyan-blue-500: #18a0fbff;
    --cyan-blue-600: #0074d0ff;
    --cyan-blue-700: #005ca8ff;
    --cyan-blue-800: #014f8bff;
    --cyan-blue-900: #084172ff;
    --cyan-blue-950: #052a4cff;
    --gray-50: #f4f6f7ff;
    --gray-100: #e4e8e9ff;
    --gray-200: #ccd3d5ff;
    --gray-300: #a8b4b8ff;
    --gray-400: #7d8e93ff;
    --gray-500: #65777dff;
    --gray-600: #536167ff;
    --gray-700: #485256ff;
    --gray-800: #40474aff;
    --gray-900: #383d41ff;
    --gray-950: #232629ff;
    --navy-50: #eff2f4ff;
    --navy-100: #e6e9ebff;
    --navy-200: #c3c9ceff;
    --navy-300: #949fa8ff;
    --navy-400: #62737fff;
    --navy-500: #334859ff;
    --navy-600: #062034ff;
    --navy-700: #051b2cff;
    --navy-800: #041725ff;
    --navy-900: #03121eff;
    --navy-950: #030e17ff;
    --slate-50: #f8fafcff;
    --slate-100: #f1f5f9ff;
    --slate-200: #e2e8f0ff;
    --slate-300: #cbd5e1ff;
    --slate-400: #94a3b8ff;
    --slate-500: #64748bff;
    --slate-600: #475569ff;
    --slate-700: #334155ff;
    --slate-800: #1e293bff;
    --slate-900: #0f172aff;
    --slate-950: #020617ff;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
